
h2 {
	background-color: rgb(198, 230, 255);
}

footer {
	background-color: rgb(198, 230, 255);
}
body {
	font-family: 'Open Sans', sans-serif;
}

.vis-content-container {
    align-content: center;
    width: 100%;
}

.vis-content-container-left-col {
	float: left;
	width: 50%;

}
.vis-content-container-right-col {
	float: left;
    width: 50%;
}

.double-column{
	width: 100%;
	display: block;
}


.text-size{
	font-size: 14px
}

.text-left-col{
	padding-left: 20px;
}

.text-right-col{
	padding-left: 20px;
}

.page-body {
	padding: 5px;
    padding-top: 5px;
	margin: 1%;
    background-color: white;

}
